.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* 
.presentation {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 30%;

} */

.credential {
    background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 0%;

}



.card{
  background-color:  rgba(32, 36, 252, 0.192);
}

/* .box{
  background-image: url('http://assets.stickpng.com/images/585e4bd7cb11b227491c3397.png') ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  background-color: rgba(32, 146, 252, 0.199);
  flex-direction: center;
  align-items: center;
  justify-content: center;

} */
.center{
  align-items: center;

}


@media only screen and (min-width: 601px) {
  .presentation {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding-left: 0%;
  
  }
  .box{
    background-image: url('http://assets.stickpng.com/images/585e4bd7cb11b227491c3397.png') ;
    /* background-size: 100% 100%; */
    background-size: 90% 50%;
    background-repeat: no-repeat;
    background-position: 50% 30%;

    background-color: rgba(73, 182, 255, 0.158);
    flex-direction: center;
    align-items: center;
    justify-content: center;

    border-radius: 5%;
    width: 30%;
    height: 30%; 
  
  }
  .login {
    background-color: #0044ff6e;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding-left: 0%;
    border-radius: 5%;
   

  
  }
  h1 { font-size: 300% }

  .date-center{
    
    padding:1px 1px px 1px ;

    background-image: url('http://assets.stickpng.com/images/585e4bd7cb11b227491c3397.png') ;
    /* background-size: 100% 100%; */
    background-size: 40% 55%;
    background-repeat: no-repeat;
    background-position: 50% 0%;

    background-color: #0011ff67;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    width: 95%;
    height: 90%; 
    border-radius: 5%;
    border-style: groove;
    border-style: solid;
    border-width: 5px;
    border-color: #2e3bf873;
  }

}



@media only screen and (max-width: 600px) {

  .presentation {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding-left: 5%;
  
  }
  .login {
    background-color: #0044ff6e;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    
    color: white;
    padding: 2% 2%;
    border-radius: 5%;
    /* width: 100%;
    height: 400px; */
  
  }
  .box{
    background-image: url('http://assets.stickpng.com/images/585e4bd7cb11b227491c3397.png') ;
     background-size: 100% 40%;
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-position: 50% 0%;
  
    background-color: rgba(73, 182, 255, 0.158);
    flex-direction: center;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
    width: 80%;
    height: 80%; 
  
  
  }
  h1 { font-size: 300% }
  .date-center{
    padding:1px 1px 1px 1px ;

    background-image: url('http://assets.stickpng.com/images/585e4bd7cb11b227491c3397.png') ;
    background-size: 80% 40%;
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-position: 50% 20%;
  


    background-color: #1c2bff9f;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    width: 95%;
    height: 90%; 
    border-radius: 5%;
    border-style: groove;
    border-style: solid;
    border-width: 5px;
    border-color: #2e3bf873;


  }
    .table {
       display: block;
       overflow-x: auto;
     }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.slade{
  background-color: red;
}

#mainbudget{
  background-color: rgba(30, 101, 255, 0.384);
  border-radius: 5%;
  border-style: groove;
  border-width: 15px;
  border-color:rgba(0, 38, 255, 0.048) ;
}

:root{
  --gradient:  linear-gradient(to right, #0017e8, #ae52f9, #53f6a5, #8ef354, #fcdd30, #ffc14f, #ff5f5f, #7e7e7e, #485a81);
}
*{
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
  color: #222;
  background: beige;
  background-image: var(--gradient);
  background-size: 400%;
  animation: fondo-anim 20s infinite alternate;
}
@keyframes fondo-anim{
  0%{background-position: left;} /*por defecto*/
  100%{background-position: right;}
}